[package]
name = "logger"
version = "0.1.0"
edition = "2024"

[dependencies]
# tracing: A structured and scoped diagnostics and logging system
tracing = "0.1.40"

business = { path = "../../business" }
